<div class="main">
    <div class="container-fluid">
        <p class="subheader">Documents</p>
        <div class="card-panel folder" (mouseup)="rightClicked($event)"  [matMenuTriggerFor]="menu" oncontextmenu="return false"><i
                class="material-icons left">folder</i>Document</div>
    </div>
</div>

<div id="contextmenu" class="contextmenu" [ngStyle]="rightPanelStyle" (clickOutside)="closeContextMenu()"
    (mouseleave)="closeContextMenu()">
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button> -->
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
        </button>
    </mat-menu>
</div>